/* Reset */
html, body, div, span, h1, h2, h3, p, pre, a, abbr, acronym, code, em,
	img, strong, center, textarea, dl, dt, dd, ol, ul, li, form, label,
	legend, table, caption, tr, th, td, article, aside, footer, header,
	menu, nav, output, section, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, footer, header, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

/* Box Model */
*, *:before, *:after {
	box-sizing: border-box;
}

/* Basic */
body {
	background: #2e3842;
}

body, input, select, textarea {
	color: #fff;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 15pt;
	font-weight: 400;
	letter-spacing: 0.075em;
	line-height: 1.30em;
}

a {
	border-bottom: dotted 1px;
	color: inherit;
	text-decoration: none;
}

a:hover {
	border-bottom-color: transparent;
}

p {
	margin: 0 0 2em 0;
}

.user{
	color: #fff;
	font-weight: 100;
	letter-spacing: 0.225em;
	line-height: 1em;
	margin: 0 0 1em 0;
	text-transform: uppercase;
}
h1, h2, h3, h4 {
	color: #fff;
	font-weight: 800;
	letter-spacing: 0.225em;
	line-height: 1em;
	margin: 0 0 1em 0;
	text-transform: uppercase;
}

h1 a, h2 a, h3 a {
	color: inherit;
	text-decoration: none;
}

h2 {
	font-size: 1.35em;
	line-height: 1.75em;
}

h3 {
	font-size: 1.15em;
	line-height: 1.75em;
}

/* Section/Article */
section.special {
	text-align: center;
}

header p {
	color: rgba(255, 255, 255, 0.5);
	position: relative;
	top: -0.25em;
}

header h3+p {
	font-size: 1.1em;
}

th, td {
    padding: 15px;
}

.comment table, .comment  th, .comment td {
 border: 1px solid #dddddd;
}


/* Form */
form {
	margin-top:0;
	margin-right:150px;
	margin-bottom:150px;
	margin-left: 150px;
}

label {
	color: #fff;
	display: block;
	font-size: 0.9em;
	font-weight: 600;
	margin: 0 0 1em 0;
}

input[type="text"], input[type="password"], input[type="email"], select,
	textarea {
	appearance: none;
	background: rgba(144, 144, 144, 0.25);
	border-radius: 3px;
	border: none;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
}

input[type="text"]:invalid, input[type="password"]:invalid, input[type="email"]:invalid,
	select:invalid, textarea:invalid {
	box-shadow: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus,
	select:focus, textarea:focus {
	box-shadow: 0 0 0 2px #21b2a6;
}

input[type="text"], input[type="password"], input[type="email"], select
	{
	height: 2.75em;
}

textarea {
	padding: 0.75em 1em;
}

textarea .comment {
	padding: 10px;
}

input[type="checkbox"], input[type="radio"] {
	appearance: none;
	display: block;
	float: left;
	margin-right: -2em;
	opacity: 0;
	width: 1em;
	z-index: -1;
}

input[type="checkbox"]+label, input[type="radio"]+label {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: 400;
	padding-left: 2.4em;
	padding-right: 0.75em;
	position: relative;
}

input[type="checkbox"]+label:before, input[type="radio"]+label:before {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

input[type="checkbox"]+label:before, input[type="radio"]+label:before {
	background: rgba(144, 144, 144, 0.25);
	border-radius: 3px;
	content: '';
	display: inline-block;
	height: 1.65em;
	left: 0;
	line-height: 1.58125em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 1.65em;
}

input[type="checkbox"]:checked+label:before, input[type="radio"]:checked+label:before
	{
	background: #2e3842;
	color: #fff;
}

input[type="checkbox"]:focus+label:before, input[type="radio"]:focus+label:before
	{
	box-shadow: 0 0 0 2px #21b2a6;
}

input[type="checkbox"]+label:before {
	border-radius: 3px;
}

input[type="radio"]+label:before {
	border-radius: 100%;
}

/* Icon */
.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

.icon:before {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.wrapper.style2 .icons {
	font-size: 1.25em;
}

.wrapper.style2  .icons a {
	color: rgba(255, 255, 255, 0.5);
}

.wrapper.style2.icons a:hover {
	color: #fff;
}

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.icons li {
	display: inline-block;
	padding: 0 1em 0 0;
}

ul.icons li:last-child {
	padding-right: 0 !important;
}

.fa-like:before {
	content: url(../images/like.png);
}

.fa-comment:before {
	content: url(../images/comment.png);
}

.fa-location:before {
	content: url(../images/location.png);
}
/* Image */
.image {
	border-radius: 3px;
	border: 0;
	display: inline-block;
	position: relative;
}

.image img {
	border-radius: 3px;
	display: block;
}

/* List */
ol {
	list-style: decimal;
	margin: 0 0 2em 0;
	padding-left: 1.25em;
}

ol li {
	padding-left: 0.25em;
}

ul {
	list-style: disc;
	margin: 0 0 2em 0;
	padding-left: 1em;
}

ul li {
	padding-left: 0.5em;
}

/* Button */
input[type="submit"], input[type="reset"], input[type="button"], button,
	.button {
	appearance: none;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	background-color: transparent;
	border-radius: 3px;
	border: 0;
	box-shadow: inset 0 0 0 2px #fff;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 0.8em;
	font-weight: 600;
	height: 3.125em;
	letter-spacing: 0.225em;
	line-height: 3.125em;
	padding: 0 2.75em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

input[type="submit"].botton_comment{
	border: 2px solid green;
	border-radius: 20px;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
	button:hover, .button:hover {
	background-color: rgba(144, 144, 144, 0.25);
}

input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active,
	button:active, .button:active {
	background-color: rgba(144, 144, 144, 0.5);
}

input[type="submit"].icon:before, input[type="reset"].icon:before, input[type="button"].icon:before,
	button.icon:before, .button.icon:before {
	margin-right: 0.5em;
}

input[type="submit"].fit, input[type="reset"].fit, input[type="button"].fit,
	button.fit, .button.fit {
	display: block;
	margin: 0 0 1em 0;
	width: 100%;
}

input[type="submit"].small, input[type="reset"].small, input[type="button"].small,
	button.small, .button.small {
	font-size: 0.8em;
}

input[type="submit"].big, input[type="reset"].big, input[type="button"].big,
	button.big, .button.big {
	font-size: 1.35em;
}

input[type="submit"].special, input[type="reset"].special, input[type="button"].special,
	button.special, .button.special {
	background-color: #ed4933;
	box-shadow: none !important;
	color: #ffffff !important;
}

input[type="submit"].special:hover, input[type="reset"].special:hover,
	input[type="button"].special:hover, button.special:hover, .button.special:hover
	{
	background-color: #ef5e4a !important;
}

input[type="submit"].special:active, input[type="reset"].special:active,
	input[type="button"].special:active, button.special:active, .button.special:active
	{
	background-color: #eb341c !important;
}

input[type="submit"].disabled, input[type="submit"]:disabled, input[type="reset"].disabled,
	input[type="reset"]:disabled, input[type="button"].disabled, input[type="button"]:disabled,
	button.disabled, button:disabled, .button.disabled, .button:disabled {
	pointer-events: none;
	opacity: 0.25;
}

/* Spotlight */
.spotlight {
	align-items: center;
	display: flex;
	background-color: rgba(0, 0, 0, 0.075);
}

.spotlight .image {
	order: 1;
	border-radius: 0;
	width: 40%;
}

.spotlight .image img {
	border-radius: 0;
	width: 50%;
}

.spotlight .content {
	padding: 2em 4em 0.1em 4em;
	order: 2;
	max-width: 48em;
	width: 60%;
}

.spotlight:nth-child(2n) {
	flex-direction: row-reverse;
	background-color: rgba(0, 0, 0, 0.15);
}

/* Map */

/* Map */

#map{
	width:500px;
	height:400px;
	float:left;
	box-sizing: border-box;
	padding:0;
	margin:0;
}
#weather{
	position:relative;
    width:200px;
	height:400px;
	float: left;
	border:none;
	padding:0 0 0 15px;
	background-color: #65A9F6;
	box-sizing: border-box;
}

h4.center{
	text-align:center;
}

div#mapContainer{
	position:relative;
	padding:0;
	margin:0;
	width:700px;
	height:auto;
	box-sizing: border-box;
} 

div.main{
	position:relative;
    width:300px;
	height:400px;
	float: left;
	border:none;
	padding:0 0 0 15px;
	margin: 10px 0 20px 20px;
	background-color: #65A9F6;
	box-sizing: border-box;
}


div.floaty{
	position:relative;
    width:200px;
	height:180px;
	float: left;
	border:none;
	padding:0 0 0 15px;
	margin: 10px 0 20px 20px;
	background-color: #65A9F6;
	box-sizing: border-box;
}

.hidden{
	display:none;
}


/* Wrapper */
.wrapper {
	padding: 6em 0 4em 0;
}

.wrapper.alt {
	padding: 0;
}

.wrapper.style2 {
	background-color: #2e3842;
}

.wrapper.style1 {
	background-color: #21b2a6;
	color: #c7ebe8;
	padding: 32px 0 10px 0;
}

/* Page Wrapper + Menu */
#page-wrapper {
	transition: opacity 0.5s ease;
	opacity: 1;
	padding-top: 3em;
}

#menu {
	transform: translateX(20em);
	transition: transform 0.5s ease;
	background: #21b2a6;
	color: #ffffff;
	height: 100%;
	max-width: 80%;
	overflow-y: auto;
	padding: 3em 2em;
	position: fixed;
	right: 0;
	top: 0;
	width: 20em;
	z-index: 10002;
}

#menu ul {
	list-style: none;
	padding: 0;
}

#menu ul>li {
	border-top: solid 1px rgba(0, 0, 0, 0.125);
	margin: 0.5em 0 0 0;
	padding: 0.5em 0 0 0;
}

#menu ul>li:first-child {
	border-top: 0 !important;
	margin-top: 0 !important;
	padding-top: 0 !important;
}

#menu ul>li>a {
	border: 0;
	color: inherit;
	display: block;
	font-size: 0.8em;
	letter-spacing: 0.225em;
	outline: 0;
	text-decoration: none;
	text-transform: uppercase;
}

.actions li {
	list-style-type: none;
}

@media screen and (max-width: 736px) {
	#menu ul>li>a {
		line-height: 3em;
	}
}

@media screen and (max-width: 736px) {
	#menu {
		padding: 3em 1.5em;
	}
}

div.close_div{
	text-align: right;
vertical-align: right;
}

#menu .close {
	background-image: url("../images/close.svg");
	background-position: 4.85em 1em;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;
	display: block;
	height: 3em;
	position: absolute;
	right: 0;
	top: 0;
	vertical-align: middle;
	width: 7em;
}

body.is-menu-visible #page-wrapper {
	opacity: 0.35;
}

body.is-menu-visible #page-wrapper:before {
	display: block;
}

body.is-menu-visible #menu {
	transform: translateX(0);
}

/* Header */
#header {
	transition: background-color 0.2s ease;
	background: #2e3842;
	height: 3em;
	left: 0;
	line-height: 3em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}

#header h1 {
	transition: opacity 0.2s ease;
	height: inherit;
	left: 1.25em;
	line-height: inherit;
	position: absolute;
	top: 0;
}

#header h1 a {
	border: 0;
	display: block;
	height: inherit;
	line-height: inherit;
}

#header nav {
	height: inherit;
	line-height: inherit;
	position: absolute;
	right: 0;
	top: 0;
}

#header nav>ul {
	list-style: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

#header nav>ul>li {
	display: inline-block;
	padding: 0;
}

#header nav>ul>li>a {
	border: 0;
	color: #fff;
	display: block;
	font-size: 0.8em;
	letter-spacing: 0.225em;
	padding: 0 1.5em;
	text-transform: uppercase;
}

#header nav>ul>li>a.menuToggle {
	outline: 0;
	position: relative;
}

#header nav>ul>li>a.menuToggle:after {
	background-image: url("../images/bars.svg");
	background-position: right center;
	background-repeat: no-repeat;
	content: '';
	display: inline-block;
	height: 3.75em;
	vertical-align: top;
	width: 2em;
}

#header.alt {
	background: transparent;
}

#header.alt h1 {
	pointer-events: none;
	opacity: 0;
}

/*banner*/

/* Banner */
#banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: default;
	height: 100vh;
	min-height: 35em;
	overflow: hidden;
	position: relative;
	text-align: center;
}

#banner h2, .user {
	transform: scale(1);
	transition: transform 0.5s ease, opacity 0.5s ease;
	display: inline-block;
	font-size: 1.75em;
	opacity: 1;
	padding: 0.35em 1em;
	position: relative;
	z-index: 1;
}

#banner h2:before, #banner h2:after, .user:after,.user:before {
	transition: width 0.85s ease;
	transition-delay: 0.25s;
	background: #fff;
	content: '';
	display: block;
	height: 2px;
	position: absolute;
	width: 100%;
}

#banner h2:before, .user {
	top: 0;
	left: 0;
}

#banner h2:after,.user {
	bottom: 0;
	right: 0;
}

#banner p {
	letter-spacing: 0.225em;
	text-transform: uppercase;
}

#banner p a {
	color: inherit;
}

#banner .more {
	transition: transform 0.75s ease, opacity 0.75s ease;
	transition-delay: 3.5s;
	transform: translateY(0);
	border: none;
	bottom: 0;
	color: inherit;
	font-size: 0.8em;
	height: 8.5em;
	left: 50%;
	letter-spacing: 0.225em;
	margin-left: -6.8em;
	opacity: 1;
	outline: 0;
	padding-left: 0.225em;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 16em;
	z-index: 1;
}

#banner .more:after {
	background-image: url("../images/arrow.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	bottom: 4em;
	content: '';
	display: block;
	height: 1.5em;
	left: 50%;
	margin: 0 0 0 -0.75em;
	position: absolute;
	width: 1.5em;
}

#banner:after {
	pointer-events: none;
	transition: opacity 3s ease-in-out;
	transition-delay: 1.25s;
	content: '';
	background: #2e3842;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

/* Footer */
#footer {
	padding: 6em 0 4em 0;
	background-color: #1d242a;
	text-align: center;
}

#footer .copyright {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.8em;
	letter-spacing: 0.225em;
	list-style: none;
	padding: 0;
	text-transform: uppercase;
}

#footer .copyright li {
	border-left: solid 1px rgba(255, 255, 255, 0.5);
	display: inline-block;
	line-height: 1em;
	margin-left: 1em;
	padding-left: 1em;
}

#footer .copyright li a {
	color: inherit;
}

#footer .copyright li a:hover {
	color: #fff;
}

#footer .copyright li {
	border: 0;
	display: block;
	line-height: 1.65em;
	margin: 0;
	padding: 0.5em 0;
}

}

/* Landing */
body.landing #page-wrapper {
	/*	background-image: linear-gradient(top, rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)), url("../../images/banner.jpg");*/
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 0;
}

body.landing #footer {
	background-color: rgba(29, 36, 42, 0.9);
}

/*------------------------------------------------------------RESPONSIVE PART------------------------------------------------------------*/
@media screen and (max-width: 1680px) {
	body, input, select, textarea {
		font-size: 13pt;
	}
}

@media screen and (max-width: 1280px) {
	body, input, select, textarea {
		font-size: 12pt;
	}
	.spotlight .image {
		width: 45%;
	}
	.spotlight .content {
		width: 55%;
	}
}

@media screen and (max-width: 980px) {
	header br {
		display: none;
	}
	.spotlight {
		display: block;
	}
	.spotlight br {
		display: none;
	}
	.spotlight .image {
		width: 100%;
	}
	.spotlight .content {
		padding: 4em 3em 2em 3em;
		max-width: none;
		text-align: center;
		width: 100%;
	}
	.wrapper {
		padding: 4em 3em 2em 3em;
	}
	#footer {
		padding: 4em 3em 2em 3em;
	}
}

@media screen and (max-width: 736px) {
	body, input, select, textarea {
		font-size: 11pt;
		letter-spacing: 0.0375em;
	}
	h2 {
		font-size: 1.1em;
		line-height: 1.65em;
	}
	h3 {
		font-size: 1em;
		line-height: 1.65em;
	}
	input[type="submit"], input[type="reset"], input[type="button"], button,
		.button {
		height: 3.75em;
		line-height: 3.75em;
	}
	.spotlight .content {
		padding: 3em 2em 1em 2em;
	}
	.wrapper {
		padding: 3em 2em 1em 2em;
	}
	#banner {
		padding: 7em 3em 5em 3em;
		height: auto;
		min-height: 0;
	}
	#banner h2 {
		font-size: 1.25em;
	}
	#banner br {
		display: none;
	}
	#banner .more {
		display: none;
	}
	#header h1 a {
		font-size: 0.8em;
	}
	#footer {
		padding: 3em 2em 1em 2em;
	}
	#header nav>ul>li>a.menuToggle {
		padding: 0 1.5em;
	}
	#header nav>ul>li>a.menuToggle span {
		display: none;
	}
	#header nav>ul>li>a {
		padding: 0 0 0 1.5em;
	}
}